{% extends 'admin/master.html' %}

{% block head_tail %}
    {{ super() }}
    <style>
        /* 🚨 إخفاء الشريط العلوي (Navbar) بقوة */
        .navbar.navbar-inverse.navbar-fixed-top,
        .navbar.navbar-default.navbar-fixed-top,
        nav.navbar { 
            display: none !important;
        }

        /* 🚨 إخفاء الشريط الجانبي (Sidebar) بقوة */
        #content > div.col-sm-2.col-md-2,
        .col-sm-2.col-md-2,
        .admin-view-list-nav {
            display: none !important;
        }

        /* توسيع مساحة المحتوى الرئيسية لتشغل كامل عرض الصفحة بقوة */
        #content > div.col-sm-10.col-md-10,
        .col-sm-10.col-md-10,
        .container-fluid > div.row > div.col-sm-10.col-md-10 {
            width: 100% !important;
            float: none !important; 
            margin: 0 !important;
            padding-left: 20px; /* إضافة حشو لليسار */
            padding-right: 20px; /* إضافة حشو لليمين */
        }
        
        /* إزالة أي حشو (padding) علوي متبقي */
        body {
            padding-top: 0 !important;
        }

        /* تنسيق العنوان الرئيسي */
        #content h1 {
            padding-top: 20px !important;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        #content h1 small { /* إخفاء زر العودة */
            display: none !important;
        }
    </style>
{% endblock %}